.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.createBox {
  width: 400px;
  text-align: center;

}



.f-no-select,.m-tree{-webkit-user-select:none;-khtml-user-select:none;
  -moz-user-select:none;-ms-user-select:none;user-select:none}
.m-tree{position:relative;overflow:hidden}
.m-draggable{position:absolute;opacity:.8;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.m-node.placeholder>*{visibility:hidden}.m-node.placeholder{border:1px dashed #ccc}.m-node .inner{position:relative;cursor:pointer;padding-left:10px}.m-node .collapse{position:absolute;left:0;cursor:pointer}
.m-node .caret-right:before{content:"\25B8"}
.m-node .caret-down:before{content:"\25BE"}

.m-tree .collapse {
  display: inline-block;
}
.tree {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #21252B;
}

.m-node.placeholder {
   border: 1px dashed #1385e5;
 }

.m-node .inner {
  color: #9DA5B4;
  font-size: 12px;
  font-family: Menlo;
}

.m-node .node {
  display: inline-block;
  width: 100%;
  padding: 4px 5px;
}
.m-node .node .m-node.is-active {
   background-color: #31363F;
}

.m-tree {
  overflow: auto;
}

.m-node {
  width: 300px;
}





*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-size: 100%;
}
.inspector {
  margin-left: 400px;
}
.inspector pre {
  font-family: Menlo;
  font-size: 13px;
}

.boxForm {
  padding: 20px;
}

.treewrapper {
  background-color: grey;
}

.everythingelse {
  margin-left: 250px;
}

.form-group {
  margin-bottom: 2px;
}

.form-control {
  height: 24px;
  font-size: 13px;
}

.indentation {
  padding-left: 15px;
}

.m-node .inner > div >.btn {
  opacity:0;
  transition: opacity 0.3s
}

.m-node .inner:hover > div >.btn {
  opacity: 1;
}